@import "tailwindcss";

:root {
  /* light */
  --background: #ffffff;
  --accent: #5a4ae0;
  --surface: #d9d9d9;
  --surface-variant: #f0f0f0;
  --text: #1a1a1a;
  --text-secondary: #4d4d4d;
  --divider: #cfcfcf;

  /* fonts */
  --font-primary: "Inter", sans-serif;
  --font-accessible: "Lexend", sans-serif;
}

/* dark */
[data-theme="dark"] {
  --background: #121212;
  --accent: #8b7bff;
  --surface: #1e1e1e;
  --surface-variant: #2a2a2a;
  --text: #ffffff;
  --text-secondary: #b3b3b3;
  --divider: #2a2a2a;
}

/* high contrast light */
[data-theme="high-contrast-light"] {
  --background: #ffffff;
  --accent: #4338ca;
  --surface: #f5f5f5;
  --surface-variant: #e5e5e5;
  --text: #000000;
  --text-secondary: #333333;
  --divider: #666666;
}

/* high contrast dark */
[data-theme="high-contrast-dark"] {
  --background: #000000;
  --accent: #a395ff;
  --surface: #141414;
  --surface-variant: #1f1f1f;
  --text: #ffffff;
  --text-secondary: #dadada;
  --divider: #555555;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-surface-variant: var(--surface-variant);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-divider: var(--divider);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-primary);
}

.active{
  background: var(--surface-variant);
  color: var(--accent);
}
